{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to wiki</h1>
    <p>Time to start building your site!</p>
  </div>

  <div class="row-fluid">
    <!--
    <div class="span12">
    {{docs|markdown}}
    </div> -->
    <label>Create a new article</label>
    <button id="create" class="btn btn-default">create</button>
    <div id="create_space"></div>
    <br/>
    <label>
      Articles
    </label>
    <div id="show_space"></div>
    <button id = "prev" class="btn btn-default">prev</button>
    <button id ="next" class="btn btn-default">next</button>
  </div>

<script type="text/javascript">
 var createForm = '<label>Title</label><br/><input type="text" id="create_title" placeholder="title"/><br/><label>Content</label><br/><textarea class="span6" id="create_content" rows="5" placeholder="content"></textarea><br/><button id="create_done"class="btn btn-success">Done</button>'

  $(document).ready(function() {
     $("#create").click(function() {
        $("#create_space").html(createForm);
        $("#create_done").click(function() {
          var title = $('#create_title').val();
          var content = $('#create_content').val();
          if (title) {
            if (content) {
              $.get('/create?title=' + title + '&content=' + content,
              function(data) {
                console.log(JSON.stringify(data));
                $("#create_space").html('<span class="alert alert-success">success !</span>');
              });
            } else {
              alert('content is empty');
            }
          } else {
            alert("title is empty");
            return;
          }
        });
     });

     var page_size = 2;
     var page_number = 1;

      function show(id, title, content, ctime, mtime, edits) {
      var line = '';

      line += ('<div class="well"> <br/> <label>' + id + ' ' + title + ' </label> <br/> <div> <textarea disabled>'
      + content + '</textarea></div> <br/> <label>created on</label> <br/> <span>'
      + ctime + '</span> <br/> <label> modified on </label> <br/> <span> '
      + mtime + '</span> <br/> <label>edits</label> <br/> <span>'
      + edits + '</span> <br/> </div>'
      + '');

      return line;
     }

     function fetch(page_size, page_number) {
      $.get('/get-articles?page-size=' + page_size + "&page-number=" + page_number,
     function(result) {
      console.log(JSON.stringify(result));
      if (result.articles.length > 0) {
        var list = result.articles;
        var results = '';
        for(var i = 0; i < list.length; i ++) {
          results += (show(list[i].id, list[i].title, list[i].content, list[i].creation_time, list[i].modified_time, list[i].edits));
        }
        $("#show_space").html(results);
      } else {
       $('#show_space').html('no results to show');
      }
     });
     }

     fetch(page_size, page_number);

     $("#prev").click(function() {
        page_number -= 1;
        fetch(page_size, page_number);
     });

     $("#next").click(function() {
         page_number += 1;
        fetch(page_size, page_number);
     });

  });

</script>


{% endblock %}
