{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to wiki</h1>
    <p>Knowledge is divine !</p>
  </div>

  <div class="row-fluid">
    <!--
    <div class="span12">
    {{docs|markdown}}
    </div> -->
    <legend>Create a new Wiki</legend>
    <button id="create" class="btn btn-default">create</button>
    <div id="create_space"></div>
    <br/>
    <legend>
      Wiki Pages
    </legend>
    <div >
        <table id="pages_table" class="table table-bordered">
            <caption>Wiki Pages</caption>
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>author</th>
                <th>created on</th>
                <th>last modified on</th>
                <th>last modified by</th>
                <th>edits</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody id="show_space">

            </tbody>
        </table>
    </div>
    <button id = "prev" class="btn btn-default">prev</button>
    <button id ="next" class="btn btn-default">next</button>
      <legend>Wikis</legend>
      <div id="wikis">

      </div>
      <legend>Wikis Edit</legend>
  </div>

<script type="text/javascript">
 var createForm = '<label>Title</label><br/><input type="text" class="form-control"id="create_title" placeholder="title"/><br/><label>Content</label><br/><textarea class="form-control" id="create_content" rows="5" placeholder="content"></textarea><br/><button id="create_done"class="btn btn-success">Done</button>'

  $(document).ready(function() {
     $("#create").click(function() {
        $("#create_space").html(createForm);
        $("#create_done").click(function() {
          var title = $('#create_title').val();
          var content = $('#create_content').val();
          if (title) {
            if (content) {
              $.get('/create?title=' + title + '&content=' + content,
              function(data) {
                console.log(JSON.stringify(data));
                $("#create_space").html('<span class="alert alert-success">success !</span>');
              });
            } else {
              alert('content is empty');
            }
          } else {
            alert("title is empty");
            return;
          }
        });
     });

     var page_size = 2;
     var page_number = 1;

      function show(id, title, author, ctime, last_modified_by, mtime, edits) {
      var line = '';
      line += (
        '<tr><th>' + id + '</th>'
        + '<th><button id="show-' + id + '"class="btn btn-primary">' + title + '</button></th>'
        + '<th>' + author + '</th>'
        + '<th>' + ctime + '</th>'
        + '<th>' + last_modified_by + '</th>'
        + '<th>' + mtime + '</th>'
        + '<th>' + edits + '</th>'
        + '<th><button class="btn btn-primary" id="edit-' + id + '">edit</button></th>'
        + '<th><button id = "delete-' + id + '" class="btn btn-primary">delete</button></th>'
        + '</tr>'
      );
      return line;
     }

     function fetch(page_size, page_number) {
      $.get('/get-articles?page-size=' + page_size + "&page-number=" + page_number,
     function(result) {
      console.log(JSON.stringify(result));
      if (result.articles.length > 0) {
        var list = result.articles;
        var results = '';
        for(var i = 0; i < list.length; i ++) {
          results += (show(list[i].id, list[i].title, list[i].author, list[i].creation_time, list[i].last_modified_by, list[i].modified_time, list[i].edits));
        }
        $("#show_space").html(results);
      } else {
       $('#show_space').html('no results to show');
      }
     });
     }

     fetch(page_size, page_number);

     $("#prev").click(function() {
        page_number -= 1;
        fetch(page_size, page_number);
     });

     $("#next").click(function() {
         page_number += 1;
        fetch(page_size, page_number);
     });

      function save(id) {
        var content = $('#content-' + id).val();
        if (content.length > 0) {
          $.get('/update-article?id='+id+'&content='+ content, function(data) {
            console.log(JSON.stringify(data));
            if (data.message) {
                alert(data.message);
            }
          });
        }
      }

      function remove(id) {
        $.get("/remove-article?id=" + id, function(data) {
            JSON.stringify(data);
            if (data.message) {
                alert(data.message);
                fetch(page_size, page_number);
            }
        });
      }

      function show_content(id, title, content, author, ctime, last_modified_by, mtime, edits) {
      var line = '';
      line += ('<div class="well"> <br/> <label>' + id + ' ' + title + ' </label> <br/> <div> <div>'
      + content + '</div></div> <br/> <label>created on</label> <br/> <span>'
      + ctime + '</span> <br/> <label> modified on </label> <br/> <span> '
      + mtime + '</span> <br/> <label>edits</label> <br/> <span>'
      + edits + '</span> <br/> <label>author</label> <br/> <span>'
      + author + '</span> <br/> <label> last modified by </label> <span>'
      + last_modified_by + '</span></div>');
      return line;
     }

      function show_article(id) {
        $.get("/get-article?id=" + id, function(result) {
            if (result.articles.length > 0) {
                var list = result.articles;
                $("#wikis").html(show_content(list[0].id, list[0].title, list[0].content, list[0].author, list[0].creation_time, list[0].last_modified_by, list[0].modified_time, list[0].edits));
            } else {
                console.log("get-article failed");
            }
        });
      }

     $("#show_space").click(function(event) {
        console.log(event.target.id);
        var target = event.target.id;
        if (target) {
          var elem_id = target + "";
          if (elem_id.startsWith("delete")) {
            var list = elem_id.split('-');
            remove(list[1]);
          }

          if (elem_id.startsWith("show")) {
            var list = elem_id.split('-');
            console.log("called show_article");
            show_article(list[1]);
          }
        }
     });


  });

</script>


{% endblock %}
